body {
  border-radius: 10px;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: calc(10px + 2vmin);
  background-color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: calc(16px + 2vmin);
  font-weight: bolder;
  color: var(--secondary);
  text-align: center;
  margin: 0;
}
h3 {
  font-size: calc(12px + 2vmin);
  font-weight: 600;
  color: var(--secondary);
  text-align: center;
  margin: 0;
}

p {
  font-size: calc(10px + 1vmin);
  font-weight: 500;
  color: var(--secondary);
  text-align: center;
  margin: auto;
  padding: 10px;
}